{% load blog_tags %}
{% get_categories as categories %}

<div id="logo" class="fl_left">
    <h1><a href="{% url 'home' %}">ItBlog</a></h1>
</div>
<nav id="mainav" class="fl_right">
    <ul class="clear">
        <li class="active"><a href="{% url 'home' %}">Գլխավոր</a></li>
        <li><a class="drop" href="#">Կատեգորիաներ</a>
            <ul>
                {% for category in categories %}


                <li>
                    <h6><a href="{{category.get_absolute_url}}">{{ category.name}} <span class="badge bg-secondary">
                        {{category.post_set.all.count}}</span></a>
                    </h6>
                </li>
                {% endfor %}

            </ul>
        {% if user.is_superuser %}
        <li><a href="/admin/">Ադմինիստրացիա</a></li>
        {% endif %}
    </ul>
</nav>