<div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
        <ul class="nospace">
            <li><i class="fa fa-phone"></i> +374-98-01-04-24</li>
            <li><i class="fa fa-envelope-o"></i> itblog@gmail.com</li>
        </ul>
    </div>
    <div class="fl_right">
        <ul class="nospace" style="text-transform:capitalize;">
            <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
            <li><a href="{% url 'about_us' %}">Մեր մասին</a></li>
            <li><a href="{% url 'contact_us' %}">Կապ</a></li>
            {% if user.is_anonymous %}
            <li><a href="{% url 'login' %}">Մուտք</a></li>
            <li><a href="{% url 'register' %}">Գրանցում</a></li>
            {% else %}
            <li>Բարի գալուստ {{ user.username }} | <a href="{% url 'logout' %}"> Դուրս գալ </a></li>

            {% endif %}
        </ul>
    </div>
    <!-- ################################################################################################ -->
</div>
