{% load blog_tags %}
{% get_top_posts as top_posts %}
{% load static %}
<div class="bgded overlay"
     style="background-image: url({% static 'images/backgrounds/carousel.png' %}); width: 100%; height: 500px;">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="flexslider basicslider">
            <ul class="slides">
                {% for post in top_posts %}
                <li>
                    <article>
                        <h3 class="heading">{{post.title|truncatechars:30}}</h3>
                        <p>{{post.content|truncatewords:25}}</p>

                        <footer><a class="btn" href="{{post.get_absolute_url}}" style="color: white">Տեսնել ավելին</a>
                        </footer>
                    </article>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
</div>
