{% extends 'base.html' %}
{% load blog_tags %}

{% block carousel %}
{% include 'blog/_carousel.html' %}
{% endblock carousel %}

{% block important_news %}
{% include 'blog/important_news.html' %}
{% endblock important_news %}


{% block content %}
<section class="hoc container clear">
    <ul class="nospace group">
        {% for post in posts %}
        {% if temp in range %}

        <li class="one_third first" style="padding: 20px;">
            {% else %}
        <li class="one_third" style="padding: 20px;">
            {% endif %}
            <article class="excerpt">
                <a href="{{ post.get_absolute_url }}">
                    {% if post.image %}
                    <img class="inspace-10 borderedbox" src="{{post.image.url}}">
                    {% else %}
                    <img class="inspace-10 borderedbox" src="https://picsum.photos/300/300">
                    {% endif %}
                </a>
                <div class="excerpttxt">
                    <ul>
                        <li><i class="fa fa-calendar-o"></i> {{post.created_date}}</li>
                        {% get_comments_count post.pk as count %}
                        <li><i class="fa fa-comments"></i> {{ count}}</li>
                    </ul>
                    <h4 class="heading font-x4">{{ post.title|striptags|truncatechars_html:30}}</h4>

                    <h6 class="heading font-x1"> {{ post.content|safe|striptags|truncatechars_html:85 }}</h6>
                    <p><a class="btn" href="{{ post.get_absolute_url }}">Կարդալ ավելին &raquo;</a></p>
                </div>
            </article>
        </li>
        {% change_temp_var temp as temp %}
        {% endfor %}
    </ul>
    <!-- ################################################################################################ -->
</section>
{% endblock content %}

{% block pagination %}
{% include 'inc/_pagination.html' %}
{% endblock pagination %}
